.user-header__user {
  padding : 0.5rem auto;
  margin-bottom : 0.5rem;
}

.user-header__name {
  padding : 0.5rem auto;
  margin : 0.5rem auto;

}

.px6 {
  font-size: 6px;
}

.px8 {
  font-size: 8px;
}

.px10 {
  font-size: 10px;
}

.px12 {
  font-size: 12px;
}

.px15 {
  font-size: 15px;
}

.px18 {
  font-size: 18px;
}

.px23 {
  font-size: 23px;
}

.px {
  font-size: px;
}

.px28 {
  font-size: 28px;
}

.px32 {
  font-size: 32px;
}

.px40 {
  font-size: 40px;
}
